[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/portable-snippets"]
	path = lib/portable-snippets
	url = https://github.com/nemequ/portable-snippets.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git